<html>
    <head>
        <title>Resolve Report</title>
    </head>
    <h1> Resolve Report </h1>
    <body>
        <p> <i>* To resolve a report, please enter the report number and the resolution. </i></p>
        <div class='form'>
            <form method='POST' action=''>
                {{ form.hidden_tag() }}
                {{ form.report_id.label }} {{ form.report_id }}
                <br>
                {{ form.resolution.label }} {{ form.resolution }}
                <br>
                {{ form.complete.label }} {{ form.complete }}
                {{ form.submit }}
            </form>
        </div>
    <a href={{ url_for('readreports') }}>
        <button>Return</button>
    </a>
</body>
</html>